.film_title {
    position: absolute;
    left: 0;
    font-size: 20px;
    bottom: 20px;
    font-weight: 500;
    color: white;
}

.film_genre {
    left: 0;
    top: -20px;
    color: #909090;
    font-size: 17px;
    position: absolute;
}

.film_rating {
    background: #f78989;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
}

.film_info {
    width: 100%;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.film_play {
    width: 80px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.film_content .carousel__slide:hover .carousel__item {
    filter: blur(10px);
}

.film_content .carousel__slide:hover .film_play {
    opacity: 1;
    cursor: pointer;
}


.film_content .carousel__prev .carousel__icon,
.film_content .carousel__next .carousel__icon{
    color: white
}


