.film_title {
    left: 0;
    font-size: 20px;
    bottom: 20px;
    font-weight: 500;
    color: white;
}

.film_genre_and_date .author-post {
    font-size: 14px;
}

.film_date {
    font-size: 12px;
    color: #a1a1a1;
    margin: 2px 3px;
}

/*.film_rating {*/
/*    background: #f78989;*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    top: 10px;*/
/*    font-weight: bold;*/
/*    padding: 2px 5px;*/
/*    border-radius: 3px;*/
/*}*/

.film-view {
    font-size: 17px;
    background: #FFFF00FF;
    position: absolute;
    right: 15px;
    color: black;
    top: 10px;
    font-weight: 400;
    padding: 2px 5px;
    border-radius: 3px;
    display: flex;
}

.film_info {
    width: 100%;
    left: 15px;
    bottom: 15px;
    margin-top: 110px;
    font-family: 'Montserrat', sans-serif;
}

.film_play {
    width: 80px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}


.film_content .carousel__prev .carousel__icon,
.film_content .carousel__next .carousel__icon{
    color: white
}


